body {
	margin: 0;
	padding: 0;
}
.container {
	width:100%vw;
	height:100%vh;
	margin:0 auto;
	font-family:"Comic Sans MS", cursive, sans-serif;
}
header {
	width:100%;
	height:100px;
	padding: 0;
	background-color:black;
}
.fingertips1, .fingertips2 {
	height:70px;
	width:100px;
	margin-top:10px;
	position: relative;
}
.top-nav {
	text-align:center;
	position: relative;
	bottom: 104%;
	width:90%;
	margin-right:auto;
	margin-left:auto;
}
.top-nav-button {
	list-style:none;
	display:inline-block;
	text-align:center;
	width:20%;
}
.top-nav-button button {
	width:200px;
	height:60px;
	background-color:gray;
	color:white;
	border:none;
	font-size:17px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	border:dotted white;
	margin-top:10%;
	cursor:pointer;
	transition:1s;

}
.top-nav-button button:hover {
	background-color:#FFFFBD;
	color:black;
	border:dotted;
	font-weight:bold;
}
.fingertips2 {
	height:70px;
	width:110px;
	margin-top:10px;
	position:absolute;
	right:0;
	top:0;
}
footer {
	width:100%;
	height:100px;
	margin-right:auto;
	margin-left:auto;
	background-color:black;
	text-align:center;
}
footer button {	
	margin-top:10px;
	width:38%;
	height:60px;
	background-color:gray;
	color:white;
	border:none;
	font-size:17px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	border:dotted white;
	display:inline-block;
	margin-top:20px;
}
footer .point-right, footer .point-left {
	height:80px;
	width:110px;
	position:absolute;
	margin-top:12px;
}
footer .point-right {
	left:22%;	
}
footer button:hover {
	background-color:#B800B8;
	color:black;
	border:dotted;
	font-weight:bold;
	cursor:pointer;
	transition:1s;
}
footer .point-left {
	right:22%;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
/*========================= Home ============================*/

.home .middle {

}

.home .middle {
	#position: relative;
	#top: 25px;
	min-height: 76vh;
	width:80%;
	margin: 0 auto;
	text-align: center;
}
.home h1 {
	text-align:center;
}
.first-paragraph {
	width:75%;
	margin-right:auto;
	margin-left:auto;
}

.decorative-line {
	width:100%;
	height:60px;
}

.other-portfolios ul {
	text-align: center;
}

.other-portfolios ul li {
	margin: 0 6%;
}

.home .other-portfolios {
	list-style:none;
	width:80%;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
}
.home .li-other-portfolios {
	display:inline-block;
}
.home .li-other-portfolios button {
	border-radius:100%;
	width:250px;
	height:150px;
	border:none;
	background:transparent;
	margin-right:10%;
	font-weight:bold;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:17px;
	background-image: url(images/glowing-button.png);
	background-repeat:no-repeat;
	background-size:250px 150px;
	outline:none;
	cursor:pointer;
}
.home .li-other-portfolios button:hover {
	background-repeat:no-repeat;
	background-size:250px 150px;
	color:transparent;
	opacity: 0.6;
	transition:2s;
}
.home .button1:hover {
	background-image: url(images/shcc.png);
}
.home .button2:hover {
	background-image: url(images/adhemas.jpg);
}
.home .button3:hover {
background-image: url(images/small-studio.jpg);
}	
/*========================= Skills ============================*/
.skills .middle {
	width:80%;
	margin-right:auto;
	margin-left:auto;
}
.skills .button-resume {
	border:none;
	background:transparent;
	width:250px;
	height:200px;
	background-image:url(images/skills.jpg);
	background-repeat:no-repeat;
	background-position:50%;
	margin-left:37%;
	outline:none;
	padding-top:15%;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:17px;
	
}
.skills .button-resume:hover {
	background-image:url(images/resume2.jpg);
	background-size:200px 150px;
	cursor:pointer;

}
.skills .resume-text {
	text-align:center;
}
.skills .skills-list {
	list-style:none;
	height:70%;
}
.skills .skill-li {
	display:inline-block;
	width:30%;
	margin-top:0;
	
	vertical-align:top;
	text-align:center;
	margin-right:2%;
}
.skills h2 {
	text-decoration:underline;	
}
.skill-li ul li{
	text-align:center;
	list-style:none;
	margin-right:15%;

}
.skills .ul-list {
	padding-top:2%;
}
.character-skills li, .cs-skills li, .computer-skills ul {
	text-align:left;
	padding-bottom:10%;
	font-size:17px;
}
.computer-skills .comp-li {
	font-size:17px;
}
.computer-skills ul li {
	font-size:12px;
	font-weight:bold;
}
.skills .character-skills {
	text-align:left;;
}
/*========================= Contact ============================*/
.contact .visual-title {
	width:80%;
	position:relative;
	margin-right:auto;
	margin-left:auto;

}
.contact .visual-title ul {
	text-align:center;
	list-style:none;
}
.contact .visual-title li{
	vertical-align:middle;
	padding-right:3%;
}
.contact h1 {
	text-align:center;
}
.contact .middle img {
	border-radius:100%;
}
.form-section {
	margin:0 auto;
}
.contact form {
	width:50%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:2%;
	background-color:#FFFFBD;
}
.contact form .submit {
	cursor:pointer;
}
/*========================= About ============================*/
.about .middle {
	width:80%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:30px;
}
.about h1 {
	text-align:center;
	background-color:#FFFFBD;
	border:2px solid #B800B8;
}
.about h4 {
	text-align:center;
}
.about table {
	width:80%;
	margin-right:auto;
	margin-left:auto;
}
.about table img {
	width:150px;
	height:100px;
}
.about table td {
	width:50%;
}
.about .left {
	text-align:right;
}
.about .right {
	text-align:left;
}